@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
   font-size: 62.5%;
}

html, body{
	font-family: 'Open Sans';
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 
}

pre, code{
	font-family: 'Inconsolata';
}

pre{
	font-size: 90%;
}

.site-title{
	color: #8B0000;
	font-weight: bold;
}

.site-subtitle{
	color: #fff;
}

a{
	color: #8B0000;
	text-decoration: none;
}

.premain{
	background-color: #aaa;
	margin: 0px;
}

.head{
	font-size: 2.2em;
}

.main{
	font-size: 1.4em;
}

.sidebar{
	font-size: 1.3em;
}

.head{
	padding-top: 15px;
	padding-bottom: 15px;
	width: 900 px;
	margin: 0px auto;
}

.main, .footer{
	width: 900px;
	margin: 0px auto;
	padding: 0 0 0 0;
}

#footer{
	clear: both;
	margin-top: 3em;
	border-top: 1px solid black;
}

.sidebar{
	margin: 0 0 0 0;
	padding-top: 5em;
	width: 170 px;
	float: left;
}

.content{
	margin: 0 0 0 0;
	padding-top: 5em;
	margin-left: 30px;
	width: 700px;
	float: right;
}