@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html{
	font-family: 'Open Sans';
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

pre, code{
	font-family: 'Inconsolata';
}

code{
	font-size: 98%;
}

pre{
	font-size: 90%;
}

.site-title{
	color: #8B0000;
	font-weight: bold;
}

.site-subtitle{
	color: #eee;
}

a{
	color: #8B0000;
	text-decoration: none;
}

.premain{
	background-color: #aaa;
	margin: 0px;
}

.head{
	padding-top: 15px;
	padding-bottom: 15px;
	width: 900 px;
	margin: 0px auto;
}