
bipy.pyc

.DS_Store

.DS_Store

bipy/__init__.pyc

bipy/gen/__init__.pyc

bipy/gen/gendesc.pyc

bipy/gen/mathandle.pyc

bipy/mainfuncs.pyc

bipy/nes/__init__.pyc

bipy/nes/nodf.pyc

bipy/nul/__init__.pyc

bipy/nul/nullmodels.pyc

bipy/spe/__init__.pyc

bipy/spe/spefunc.pyc

.DS_Store

.DS_Store

bipy/bipartite_class.pyc

.DS_Store

bipy/getref.pyc

w3b.web

bipy/getref.pyc

bipy/getref.pyc

.DS_Store

bipy/mod/lpbrim.pyc

bipy/mod/__init__.pyc

bipy/gra/__init__.pyc

bipy/gra/plotwebs.pyc

bipy/web/__init__.pyc

bipy/web/bipyweb.pyc

bipy/mod/p_findMod.pyc

bipy/web/bipydb.pyc

bipy/getref.pyc

.DS_Store

bipy/tes/__init__.pyc

bipy/tes/tests.pyc

.pydevproject

.project

webN.pdf

web.pdf

webN.pdf

web.pdf

webN.pdf

web.pdf

webN.pdf

doc/bipy-doc_pre1.0.toc

doc/bipy-doc_pre1.0.synctex.gz

doc/bipy-doc_pre1.0.out

doc/bipy-doc_pre1.0.aux

doc/bipy-doc_pre1.0.log

doc/bipy-doc_pre1.0.lol

.DS_Store

points.pdf

bipy/mini_bipartite_class.pyc

doc/.texpadtmp/bipy-doc_pre1.0.log

doc/.texpadtmp/bipy-doc_pre1.0.blg

doc/.texpadtmp/bipy-doc_pre1.0.bbl

doc/.texpadtmp/bipy-doc_pre1.0.synctex.gz

doc/.texpadtmp/bipy-doc_pre1.0.toc

doc/.texpadtmp/bipy-doc_pre1.0.aux

bipy/tes/extinct.pyc

bipy/tes/extinct.pyc

bipy/tes/extinct.pyc

bipy/tes/extinct.pyc

bipy/tes/extinct.pyc

bipy/tes/extinct.pyc

doc/bipy-doc_pre1.0.blg

doc/bipy-doc_pre1.0.bbl

bipy/tes/extinct.pyc

bipy/tes/extinct.pyc

FonsecaGanade_species.txt

FonsecaGanade_modules.txt

FonsecaGanade_network.txt

bipy/gen/gendesc.py

bipy/null/nullmodels.pyc
