<h2>Classes</h2>
<a href='{{ site.url }}/reference/classes/bipartite/'>bipartite</a><br />
<a href='{{ site.url }}/reference/classes/modules/'>modules</a><br />
<a href='{{ site.url }}/reference/classes/tests/'>tests</a>

<h2>Species-level</h2>
<a href='{{ site.url }}/reference/specieslevel/degree/'>Degree distribution</a><br />
<a href='{{ site.url }}/reference/specieslevel/specificity/'>Specificity</a>

<h2>Network-level</h2>
<a href='{{ site.url }}/reference/networklevel/nestedness/'>Nestedness</a><br />
<a href='{{ site.url }}/reference/networklevel/modularity/'>Modularity</a>

<h2>Graphics</h2>

<h2>Null models</h2>
<a href='{{ site.url }}/reference/nulls/wrapper/'>Wrapper</a><br />
<a href='{{ site.url }}/reference/nulls/null1/'>Null 1</a><br />
<a href='{{ site.url }}/reference/nulls/null2/'>Null 2</a><br />
<a href='{{ site.url }}/reference/nulls/null3c/'>Null 3c</a><br />
<a href='{{ site.url }}/reference/nulls/null3r/'>Null 3r</a>


<h2>Tests</h2>
<a href='{{ site.url }}/reference/tests/modularity/'>Modularity</a><br />
<a href='{{ site.url }}/reference/tests/nestedness/'>Nestedness</a><br />
<a href='{{ site.url }}/reference/tests/robustness/'>Robustness</a>