body{
	font-family: Constantia, Palatino;
	width: 900 px;
	margin: 0px auto;
}

.premain{
	margin-top: 40px;
	width: 100%;
}

.head{
	border-bottom: 1px double black;
}

.premain h1{
	color: #000F81;
}

.sidebar{
	float:  left;
	clear: right;
	width: 250 px;
}

.main{
	width: 650 px;
}

.nav ul, .nav li{
	list-style: none;
}