body{
	font-family: Constantia, Palatino;
	width: 900 px;
	margin: 0px auto;
}

a{
	color: black;
	text-decoration: underline;
}

a:hover{
	background-color: #eee;
}


.premain{
	margin-top: 40px;
	width: 100%;
}

.head{
	border-bottom: 1px double black;
}

.premain h1{
	color: #000F81;
}

.sidebar{
	width: 250 px;
}

.content{
	width: 650 px;
}

.nav ul, .nav li{
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}