@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700italic,700,400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400italic,400,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

pre, code{
	font-family: 'Inconsolata';
}

code{
	font-size: 98%;
}

pre{
	font-size: 90%;
}

body{
	font-family: 'PT Serif', Palatino;
	width: 900 px;
	margin: 0px auto;
}

a{
	color: #000F81;
	text-decoration: none;
}

a:hover{
	background-color: #eee;
}


.premain{
	margin-top: 40px;
	width: 100%;
	margin-bottom: 40px;
}

.head{
	border-bottom: 3px solid black;
}

.head h1{
	font-family: 'PT Sans';
}

.premain h1{
	color: #000F81;
}

.sidebar{
	width: 200 px;
	float: left;
}

.content{
	width: 670 px;
	float: right;
	margin-bottom: 60px;
	padding-bottom: 60px;
}


.content h2, h3{
	font-family: 'PT Sans';
}

.nav a{
	font-family: 'PT Sans';
	line-height: 1.5em;
	font-weight: bold;
	margin-right: 1.5em;
}

.nav{
	border-bottom: 1px solid black;
	padding-bottom: 7px;
	padding-top: 7px;
}

.main{
	margin-bottom: 60px;
	padding-bottom: 60px;
}

#footer{
	clear: both;
	margin-top:  80px;
	margin-bottom:  30px;
	border-top:  1px solid black;
	border-bottom:  3px solid black;
	text-align: center;
	text-size: 80%;
	color: #666;
	padding-top: 10px;
}

.ref{
	border-left: 2px solid #000F81;
	background-color: #eee;
	font-family: 'PT Sans';
	padding:  5px 5px;
}

.funcdoc h2{
	font-family: 'PT Sans';
	font-size: 90%;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.funcdoc a{
	font-size: 95%;
}

.highlight{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #f6f6f6;
}

.highlight .lineno{
	font-weight: bold;
}

.highlight .c{
	color: green;
}

.highlight .kn, .highlight .k{
	font-weight: bold;
	color: purple;
}

.highlight .bp{
	color: green;
}